
@{
    ViewBag.Title = "GoogleMap";
}

@*@section Scripts {
   <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDMg0szYattzgj4r_yYBIGEfFtbUFKN6gE&sensor=false"></script>
}*@
@*@section Styles {
    html { height: 100% }
    body { height: 100%; margin: 0px; padding: 0px }
    #map_canvas { height: 80% }
}*@
 
<h3>Google Map</h3>
<a href="http://www.codeproject.com/Articles/148949/Walkthrough-Getting-Google-Maps-Running-in-MVC">Reference</a>

<div id="map_canvas" style="width:400px; height:400px"></div>
<script type="text/javascript">
    function initialize() {
        var latlng = new google.maps.LatLng(40.716948, -74.003563);
        var options = {
            zoom: 14, center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById
			("map_canvas"), options);
    }
    //$(function () {
    //    initialize();
    //});
    $(document).ready(function () {
        initialize();
    });

</script> 