@model List<HouseFlipper.DataAccess.Models.Marker>
@{
    ViewBag.Title = "Map listing location";
}

@*@section Scripts {
       <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDMg0szYattzgj4r_yYBIGEfFtbUFKN6gE&sensor=false"></script>
    }*@
@*@section Styles {
        html { height: 100% }
        body { height: 100%; margin: 0px; padding: 0px }
        #map_canvas { height: 80% }
    }*@

<h3>Map listing location</h3>
<div id="dvMap" style="width: 300px; height: 400px" />
<script type="text/javascript">
    var markers = @Html.Raw(Json.Encode(Model));

    window.onload = function () {
        LoadMap();
    }
    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            // zoom: 8, //Not required.
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        //Create LatLngBounds object.
        var latlngbounds = new google.maps.LatLngBounds();

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title,
                icon: data.icon
            });


            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" +  data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);

            //Extend each marker's position in LatLngBounds object.
            latlngbounds.extend(marker.position);

        }

        //Get the boundaries of the Map.
        var bounds = new google.maps.LatLngBounds();

        //Center map and adjust Zoom based on the position of all markers.
        map.setCenter(latlngbounds.getCenter());
        map.fitBounds(latlngbounds);
    }
</script> 