@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to House Flipper</h2>

        House Flipper is a website that uses MLS data to gain insights into property flips.              
    </div>
</div>